{
  "extends": "tamia",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "valid-jsdoc": 0,
    "no-shadow": 0
  },
  "globals": {
    "__basedir": true,
    "MQTT_CLIENT": true
  }
}